<a href="https://colab.research.google.com/github/dmdigrande/dmdigrande.github.io/blob/main/week1-assignment1-pandas-exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Assignment - Pandas exercises

## Data

This assignment uses 2019 flight statistics from the United States Department of Transportation’s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in this repository as `data/T100_MARKET_ALL_CARRIER.zip`). Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

## Exercises

##### 1. Read in the data and convert the column names to lowercase to make them easier to work with.

In [34]:
import pandas as pd

flights = pd.read_csv("./T100_MARKET_ALL_CARRIER.zip")

flights

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE
0,0.0,53185.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,Texas,US,United States,74,2019,1,3,17,G,IF
1,0.0,9002.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,New York,US,United States,22,2019,1,3,14,G,IF
2,0.0,2220750.0,0.0,7247.0,EK,20392,Emirates,9678A,I,EK,...,Illinois,US,United States,41,2019,1,3,15,G,IF
3,0.0,1201490.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,17,G,IF
4,0.0,248642.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,14,G,IF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321404,96984.0,505308.0,15979.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Washington,US,United States,93,2019,3,7,3,F,DU
321405,97011.0,473666.0,55963.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Alaska,US,United States,1,2019,2,6,3,F,DU
321406,97098.0,592775.0,18834.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Washington,US,United States,93,2019,3,8,3,F,DU
321407,97329.0,210292.0,5431.0,404.0,DL,19790,Delta Air Lines Inc.,01260,D,DL,...,Georgia,US,United States,34,2019,1,3,1,F,DU
321408,97644.0,390399.0,44506.0,1448.0,AS,19930,Alaska Airlines Inc.,06031,D,AS,...,Alaska,US,United States,1,2019,3,7,3,F,DU

##### 2. What columns are in the data?

In [13]:
flights.columns

Index(['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'UNIQUE_CARRIER_ENTITY', 'REGION',
       'CARRIER', 'CARRIER_NAME', 'CARRIER_GROUP', 'CARRIER_GROUP_NEW',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_COUNTRY', 'DEST_COUNTRY_NAME',
       'DEST_WAC', 'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS',
       'DATA_SOURCE'],
      dtype='object')

##### 3. How many distinct carrier names are in the dataset?

In [20]:
flights.UNIQUE_CARRIER_NAME.value_counts(normalize = True)

Southwest Airlines Co.             0.129390
United Air Lines Inc.              0.062273
Delta Air Lines Inc.               0.057008
SkyWest Airlines Inc.              0.052793
American Airlines Inc.             0.044488
                                     ...
Aviateca, S.A.                     0.000006
Luxaviation Germany GmbH           0.000006
Mjet GmbH                          0.000003
Polaris Aviation Solutions, LLC    0.000003
Sparfell Luftfahrt GmbH            0.000003
Name: UNIQUE_CARRIER_NAME, Length: 318, dtype: float64

##### 4. Calculate the totals of the `freight`, `mail`, and `passengers` columns for flights from the United Kingdom to the United States.

In [29]:
uk_to_us_flights = flights[(flights['ORIGIN_COUNTRY_NAME'] == 'United Kingdom') & (flights['DEST_COUNTRY_NAME'] == 'United States')]
uk_to_us_flights

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE
1101,0.0,348930.0,0.0,4011.0,FX,20107,Federal Express Corporation,16196,A,FX,...,Indiana,US,United States,42,2019,1,3,9,G,IU
1102,0.0,33956.0,0.0,4382.0,FX,20107,Federal Express Corporation,16196,A,FX,...,Tennessee,US,United States,54,2019,1,3,9,G,IU
1742,0.0,1785444.0,0.0,3482.0,5X,19917,United Parcel Service,16911,A,5X,...,Pennsylvania,US,United States,23,2019,4,11,7,G,IU
1743,0.0,185326.0,0.0,3976.0,5X,19917,United Parcel Service,16911,A,5X,...,Kentucky,US,United States,52,2019,4,11,8,G,IU
1753,0.0,2004300.0,0.0,4062.0,5X,19917,United Parcel Service,16911,A,5X,...,Kentucky,US,United States,52,2019,4,11,9,G,IU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320984,55479.0,4293824.0,0.0,3452.0,BA,19540,British Airways Plc,9493E,I,BA,...,New York,US,United States,22,2019,2,5,7,F,IF
321030,56636.0,4161643.0,0.0,3452.0,BA,19540,British Airways Plc,9493E,I,BA,...,New York,US,United States,22,2019,2,4,7,F,IF
321091,58359.0,4516041.0,0.0,3452.0,BA,19540,British Airways Plc,9493E,I,BA,...,New York,US,United States,22,2019,4,10,7,F,IF
321114,59123.0,4235134.0,0.0,3452.0,BA,19540,British Airways Plc,9493E,I,BA,...,New York,US,United States,22,2019,3,8,7,F,IF
321172,61862.0,4715962.0,0.0,3452.0,BA,19540,British Airways Plc,9493E,I,BA,...,New York,US,United States,22,2019,3,7,7,F,IF

In [33]:
total_freight = uk_to_us_flights['FREIGHT'].sum()
total_mail = uk_to_us_flights['MAIL'].sum()
total_passengers = uk_to_us_flights['PASSENGERS'].sum()

print(total_freight)
print(total_mail)
print(total_passengers)

903296879.0
29838395.0
10685608.0

##### 5. Find the top 5 carriers for median route distance (i.e., for all origin-destination pairs that each carrier has, find the median distance after removing duplicates).

##### 6. Find the total cargo transported (mail + freight) and mean distance traveled for the 10 carriers that transported the most cargo.

##### 7. Which 10 carriers flew the most passengers out of the United States to another country?

##### 8. For each of the carriers found in *#7*, find the most popular destination country outside of the United States.

##### 9. For each of the carriers found in *#7*, find the total number of passengers flown on international flights to/from the destinations in *#8* or the United States. Note that this dataset only has data for flights with an origin and/or destination of the United States.

##### 10. Between which two cities were the most passengers flown? Make sure to account for both directions.

##### 11. Find the top 3 carriers for the pair of cities found in *#10* and calculate the percentage of passengers each accounted for.

##### 12. Find the percentage of international travel per country using total passengers on class F flights.

##### 13. Using a crosstab, find the percentage of total passengers on class F international flights between US cities and the countries found in *#12* that used the carriers found in *#11*.

##### 14. Create a pivot table showing the total passengers transported between cities in the United States and other countries by the carriers identified in *#7*. Select the top 10 US cities and top 10 international countries from the result.

##### 15: For the top 15 international countries, find the percentage of class F passengers traveling to/from the top 10 US cities for international travel (e.g. if only cities A, B, and C flew into Aruba, the sum of the Aruba row/column would be 1). Plot the result as a heatmap.